<li class="talkposts" id="talkpost-<%= talkpost.id %>">
    <h4>
        <span>
            <%= talkpost.id %> >>> 
        </span>
        <span class="timestamp">
            Posted at <%= talkpost.created_at%>.
        </span>
        <p class="talkpost">
            <%= talkpost.content %>
        </p>
    </h4>
    <hr>
</li>